
body {
    background-color: #81BEF7;
}

h1 {
    background-color: #5DD041;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    size: 180%;
    font-weight:bold;
    text-decoration: underline overline;
    text-align: center;
}


p {
    font-family: ‘Times New Roman’,Times, serif;
    color: #08088A;
    font-size: 100%;
    text-align: justify;
    text-indent: 15px;

}  